@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: #200C0C;
    font-family: "Quicksand", sans-serif;
    font-size: 25pt;
    font-weight: 300;
    margin: auto;
}

#redbody {
    background-color: #C34C4C;
}

h1 {
    color: #FDD1D1;
    text-align: center;
    margin-top: 10%;
    font-family: "Quicksand", sans-serif;
    font-size: 65pt;
    font-weight: 100
}

h2 {
    color:#FDD1D1;
    text-align: center;
    font-size: 45pt;
    font-weight: 100;
    margin-top: 2%;
}

a {
    color:#FDD1D1;
    text-align: center;
    font-size: 25pt;
    font-weight: 100;
    margin-top: 2%;
    text-decoration: none;
    margin: auto;
    z-index: 2;
}

button {
    background-color: #C34C4C;
  border: none;
  color: #FDD1D1;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto;
}

.playbutton {
    margin: auto;
    text-align: center;
}

.about {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    margin: auto;
    color: #FDD1D1;
}

#smaller {
    font-size: 40pt;
}

.backbutton {
    margin: auto;
    text-align: center;
    margin-bottom: 10%;
}